body {
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 60px 2fr;
}

.header {
    background-color: #fff01f;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.sidebar {
    background-color: #1c1f23;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.main {
    background-color: #c3c5ca;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}